.card-frame{
    border: black 2px solid;
    width:max-content;
    padding: 10px;
    display: flex;
}
.parent{
    text-align: center;
}
.cardHolder{
    display: grid;
    border: 2px solid salmon;
    grid-template-columns: repeat(3,1fr);
}
.sort-filter-holder{
    border: 2px seagreen solid;
}
.info{
    border: red solid 2px;
}
.pic{
    border: rebeccapurple solid 3px;
}
.pic>img{
    width: 200px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }